a:hover {
  color: #C9AD85;
  text-decoration: underline;
}

@media (min-width: 768px) {
  a:hover {
    color: #C9AD85;
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .nav-item {
    position: relative;
    /*padding-left: 90px;*/
    color: #C9AD85;
    /*text-decoration-line: none;*/
    /*padding-top: 6px;*/
    /*padding-left: 27px;*/
    /*border-bottom: 13px;*/
  }
}

.bg {
  background-color: #3D3B47;
  background-image: url("../../assets/img/icons.png");
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 80px;
}

@media (min-width: 1200px) {
  .logo_img {
    width: 273px;
    float: left;
  }
}

@media (min-width: 992px) {
  .logo_img {
    width: 245px;
    float: left;
  }
}

@media (min-width: 768px) {
  .logo_img {
    width: 194px;
    float: left;
  }
}

@media (min-width: 576px) {
  .logo_img {
    width: 171px;
    float: left;
  }
}

@media (min-width: 360px) {
  .logo_img {
    width: 168px;
    float: left;
  }
}

@media (min-width: 1200px) {
  .header_img {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .header_img {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .header_img {
    padding: 114px;
    /*text-align: center;*/
    /*margin: auto;*/
  }
}

@media (min-width: 1200px) {
  .header_img {
    padding: 40px;
    /*text-align: center;*/
    /*margin: auto;*/
  }
}

@media (min-width: 992px) {
  .header_img {
    padding: 40px;
    /*text-align: center;*/
    /*margin: auto;*/
  }
}

@media (min-width: 768px) {
  .header_img {
    padding: 40px;
    text-align: center;
    /*margin: auto;*/
  }
}

@media (min-width: 360px) {
  .header_img {
    padding: 40px;
    text-align: center;
    /*margin: auto;*/
  }
}

@media (min-width: 1200px) {
  .h2, h2 {
    color: #C9AD89;
    padding-top: 185px;
    text-align: left !important;
  }
}

@media (min-width: 992px) {
  .heading {
    color: #C9AD89;
    padding-top: 185px;
    /*text-align: left !important;*/
  }
}

@media (min-width: 768px) {
  .heading {
    color: #C9AD89;
    padding-top: 185px;
    /*text-align: left !important;*/
  }
}

@media (min-width: 768px) {
  .h2, h2 {
    color: #C9AD89;
    /*text-align: center;*/
    /*margin: auto;*/
    padding-top: 185px;
  }
}

@media (min-width: 576px) {
  .h2, h2 {
    color: #C9AD89;
    /*text-align: center;*/
    /*margin: auto;*/
    padding-top: 126px;
  }
}

@media (min-width: 360px) {
  .h2, h2 {
    color: #C9AD89;
    /*text-align: center;*/
    /*margin: auto;*/
    padding-top: 110px;
  }
}

.app_img {
  height: 75px;
  /*width: 80px;*/
  padding-top: 25px;
}

.app_img {
  height: 61px;
  /*width: 80px;*/
  padding-top: 25px;
}

@media (min-width: 1200px) {
  .play {
    padding-left: 39px;
  }
}

@media (min-width: 992px) {
  .play {
    padding-left: 29px;
  }
}

@media (min-width: 768px) {
  .play {
    padding-left: 26px;
  }
}

@media (min-width: 576px) {
  .play {
    padding-left: 23px;
  }
}

@media (min-width: 360px) {
  .play {
    padding-left: 23px;
  }
}

.line {
  margin-left: 47%;
  margin-right: 47%;
  border: 0;
  border-top: 5px solid #C9AD85;
}

.text-center.para-3 {
  font-size: 31px;
  padding-top: 59px;
  text-align: center;
  margin: 0px !important;
  font-weight: bold;
}

.para3-1 {
}

.para3-1 {
  text-align: center;
  color: #707575;
  padding: 92px 70px 80px 71px;
  margin: 0px !important;
}

.row-one {
  padding-top: 35px;
}

.line {
  margin-left: 47%;
  margin-right: 47%;
  border: 0;
  border-bottom: 5px solid #C9AD85;
}

.text-muted.card-subtitle.mb-2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 6px;
  /*color: rgb(0,0,0);*/
}

.text-muted {
  color: #403131!important;
}

.text-center.card-title {
  font-size: 31px;
  color: #C9AD85;
  font-weight: bold;
}

.line-number {
  margin-top: -4%;
  margin-bottom: -1rem;
  margin-left: 44%;
  margin-right: 44%;
  border: 0;
  border-top: 4px solid #C9AD85;
  padding-bottom: 53px;
}

.card-body.one {
  padding-left: 69px;
}

#navcol-1 {
  float: right;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 0;
  -ms-flex-align: center;
  align-items: center;
  float: right;
}

.cards-align {
  width: 80%;
  padding-bottom: 90px;
  margin: auto;
}

.card-text:last-child {
  margin-bottom: 0;
  padding-bottom: 35px;
}

.conn {
  background-color: #3B3D47;
}

.h1, h1 {
}

.h1, h1 {
}

.h1, h1 {
}

.line-1 {
  border: 0;
  width: 15%;
  margin: auto;
  border-top: 5px solid #C9AD85;
}

@media (min-width: 1200px) {
  .feature {
    color: white;
    text-align: center;
    padding-bottom: 8px;
    margin: 0px;
    padding-top: 41px;
  }
}

@media (min-width: 992px) {
  .feature {
    color: white;
    text-align: center;
    padding-bottom: 8px;
    margin: 0px;
    padding-top: 41px;
  }
}

@media (min-width: 1200px) {
  .head4 {
    color: #C9AD85;
    padding: 89px 0px 9px 0px !important;
  }
}

@media (min-width: 992px) {
  .head4 {
    color: #C9AD85;
    padding: 89px 0px 9px 0px !important;
  }
}

@media (min-width: 768px) {
  .head4 {
    color: #C9AD85;
    padding: 89px 0px 9px 0px !important;
  }
}

@media (min-width: 576px) {
  .head4 {
    color: #C9AD85;
    padding: 89px 0px 9px 0px !important;
    text-align: center;
  }
}

@media (min-width: 360px) {
  .head4 {
    color: #C9AD85;
    padding: 89px 0px 9px 0px !important;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .para-5 {
    color: white;
    margin: 0;
    padding-bottom: 24px;
  }
}

@media (min-width: 992px) {
  .para-5 {
    color: white;
    margin: 0;
    padding-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .para-5 {
    color: white;
    margin: 0;
    padding-bottom: 24px;
  }
}

@media (min-width: 576px) {
  .para-5 {
    color: white;
    margin: 0;
    text-align: center;
    padding-bottom: 24px;
  }
}

@media (min-width: 360px) {
  .para-5 {
    color: white;
    margin: 0;
    text-align: center;
    padding-bottom: 24px;
  }
}

@media (max-width: 1200px) {
  .btn.btn-primary.but {
    border-radius: 0rem !important;
    background-color: #C9AD85;
    padding: 8px 24px 8px 24px !important;
    font-size: 19px !important;
    color: rgb(34,31,31);
  }
}

@media (max-width: 992px) {
  .btn.btn-primary.but {
    border-radius: 0rem !important;
    background-color: #C9AD85;
    padding: 8px 24px 8px 24px !important;
    font-size: 19px !important;
    color: rgb(34,31,31);
  }
}

@media (max-width: 1200px) {
  .left-pic {
    padding-top: 28px;
  }
}

@media (max-width: 992px) {
  .left-pic {
    padding-top: 28px;
  }
}

.line1 {
  border: 0;
  width: 19%;
  margin: auto;
  border-top: 5px solid #C9AD85;
}

.name {
  font-weight: bold;
  color: #C9AD85;
  font-size: 20px;
  padding-top: 16px;
  margin: 0px !important;
}

.para6 {
  color: white;
  margin: 0px;
}

.para7 {
  color: rgb(197, 175, 144);
  padding: 23px 0px 178px 0px;
  width: 62%;
  font-size: 18px;
  margin: auto !important;
}

.rounded-circle {
  border-radius: 50%!important;
  border: 3px solid #C9AD85;
  width: 9%;
}

.pad-up-slide {
  padding-top: 135px;
}

@media (min-width: 300px) {
  .pad-up-slide {
    padding-top: 101px;
  }
}

.contact {
}

.text-center.contact {
  color: #C9AD85;
  font-weight: bold;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 6px;
  margin: 0px;
}

.line2 {
  width: 6%;
  margin: auto;
  border: 0;
  border-top: 5px solid #C9AD85;
}

.new_rows {
  padding: 49px 157px 0px 157px;
}

@media (min-width: 360px) {
  .new_rows {
    padding: 49px 16px 0px 16px;
  }
}

.form-control {
  background-color: #f0f0f0 !important;
  border: 0px solid #f0f0f0 !important;
}

.md-form {
  padding-top: 26px;
}

.btn-outlined {
  border-radius: 0rem;
  background-color: #C9AD85;
  padding: 5px 32px 5px 32px;
  font-size: 21px;
}

.btn-out {
  text-align: center;
  padding: 39px 29px 96px 29px;
}

a {
  color: #C9AD85;
  text-decoration: none;
  background-color: transparent;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

@media (min-width: 1200px) {
  .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent !important;
  }
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.3rem;
}

@media (max-width: 992px) {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem;
  }
}

@media (max-width: 768px) {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 7.3rem;
  }
}

@media (max-width: 360px) {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.3rem;
  }
}

@media (min-width:992px) {
  .container {
    width: 100%;
    text-align: center;
  }
}

@media (min-width:1200px) {
  .container {
    width: 100%;
    text-align: center;
  }
}

.col.re {
  padding: 21px 27px 1px 21px;
}

@media (min-width: 768px) {
  .col.playing {
    text-align: center;
  }
}

@media (min-width: 360px) {
  .col.playing {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .col.playing {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .col.playing {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .col.playing {
    text-align: left !important;
  }
}

@media (min-width: 768px) {
  .text-left {
    text-align: center!important;
  }
}

@media (min-width: 576px) {
  .text-left {
    text-align: center!important;
  }
}

@media (min-width: 360px) {
  .text-left {
    text-align: center!important;
  }
}

.col.images {
  text-align: center;
}

.col.images {
  text-align: center;
}

@media (min-width: 768px) {
  .img-middle {
    width: 339px;
    padding-top: 33px;
  }
}

@media (min-width: 1200px) {
  .img-middle {
    width: 446px;
    padding-top: 33px;
  }
}

@media (min-width: 992px) {
  .img-middle {
    width: 446px;
    padding-top: 33px;
  }
}

@media (min-width: 768px) {
  .col.fe {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col.fe {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .col.fe {
    text-align: center;
  }
}

@media (min-width: 360px) {
  .col.fe {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }
}

@media (min-width: 360px) {
  .btn-primary {
    color: #fff;
    background-color: transparent;
    /*text-align: center;*/
    border-color: transparent;
  }
}

.foo-center img {
  width: 20%;
}

@media (min-width: 992px) {
  .foo-img1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .foo-img1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .f00-img2 {
    display: block;
    width: 16%;
  }
}

@media (min-width: 992px) {
  .f00-img2 {
    display: block;
    width: 16%;
  }
}

@media (min-width: 768px) {
  .f00-img2 {
    display: inline;
    width: 16%;
  }
}

.le {
  padding: 27px;
}

@media (min-width: 992px) {
  .container.foo {
    @media (min-width: 992px) {  .container {    /*max-width: 960px;
    width: 100%;
    text-align: center;
  }
}

